<html>
	<head>
		<!--     <link rel="stylesheet" href="EXAMPLE.css" />   -->
	</head>
	<body>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		
		<script src="js/trustlevel.js"></script>
		<script>
			$(document).ready(function(){
			/*
				// get Data from server
				$.get("SERVERURL", function(data){
	        			alert("Data: " + data);
						var counter = 0;
	        			for (var elem in data){
	        				counter = counter +1;
							$("body").append("<div id=counter style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>");

	        			}
	    			});
	    		*/

				var counter = 0;
				var data = [40, 70, 50, 100];
	        	for (var elem in data){
	        		var scale = document.createElement("div");
	        		counter = counter +1;
	        		scale.id = "trustlevel" + counter;
	        		scale.style = "min-width: 310px; max-width: 400px; height: 300px; margin: 0; float:left;"
	        		scale.innerHTML = "";
					document.body.appendChild(scale);
					$("text").hide();
					createChart("#trustlevel" + counter, [data[elem]]);
				};

				window.setTimeout(function() {
					$("g.highcharts-button").hide();
				}, 1000);
				
				
			});
		</script>
	</body>
</html>