<html>
	<head>
		<style type="text/css">
			.scale {min-width: 310px;} 
			.scale {max-width: 400px;}
			.scale {height: 300px;}
			.scale {margin: 10px;}
			.scale {float:left;}
		</style>
	</head>
	<body>
		<script src="../js/jquery.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		
		<script src="../js/trustlevel.js"></script>
		<h1 >Trust Levels</h1>
		<div id="wrapper" width="450px" heigth="350px">
			<script>
				$(document).ready(function(){

		    		var devices;
		    		$.get("https://locout.herokuapp.com/user/1", function(data){
		    			devices = data.user.deviceLocations;

						// var counter = 0;
			        	for (var i = 0; i < devices.length; i++){
			        		var scale = document.createElement("div");
			        		// counter = counter +1;
			        		scale.id = "device" + i;
			        		scale.className = "scale";
			        		scale.innerHTML = "";
							document.body.appendChild(scale);
							createChart(i, [Math.round(devices[i].trustLevel * 100)], devices[i].name);
						};
					});
					window.setTimeout(function() {
						$("g.highcharts-button").hide();
					}, 1000);
					
				});
			</script>
		</div>
	</body>
</html>